<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manageyourinventoryapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Internet permission -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:windowSoftInputMode="adjustPan"
        android:theme="@style/Theme.ManageYourInventoryApp.NoActionBar">
        <activity
            android:name=".updateProduct"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.ManageYourInventoryApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SalesReport"
            android:exported="true"
            android:label="@string/activity_sales_report" />
        <activity
            android:name=".CreateInvoice"
            android:exported="true"
            android:theme="@style/Theme.ManageYourInventoryApp.NoActionBar"></activity>
        <activity
            android:name=".InvoiceActivity"
            android:exported="true"
            android:label="@string/activity_invoice" />
        <activity
            android:name=".CreateProduct"
            android:exported="true" />
        <activity
            android:name=".InventoryActivity"
            android:exported="true"
            android:label="@string/activity_inventory" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ManageYourInventoryApp.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>